# Ignore files for CamDom
# =================================

# Binary and log files
bin/
build/
target/
dist/
*.log

# VsCode
.vscode

# Temporal/Old files
*.old
*.old.*
*.tmp
*.tmp.*
*.temp
*.temp.*

# Processing
.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out